# ignore 
*~
#ignore personal notes
*.notes
#ignore matlab executions files and other matlab files
*.mexa64
*.txt#
#ignore segmenter binary
segmenter/segmenter
./segmenter/results/*
segmenter/nbproject/
